.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav-container {
  display: flex;
  width: 40%;
  max-width: 350px;
}

.app-content-container {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}
